# Ansible Playbook: Configure custom DHCP file and network interfaces (6 VLANs)

# Example Usage: To run this playbook reliably across different shells/sudo usage, use JSON format,
# providing a list of team numbers:
# ansible-playbook -e '{"team_numbers": }' config_dhcp.yaml
#
- name: Configure custom DHCP file and network interfaces (6 VLANs)
  hosts: localhost
  connection: local
  become: true
  vars:
    # --- Change target file path to a standard location ---
    target_directory: "/etc/dhcp/dhcpd.conf.d"
    target_file_path: "/etc/dhcp/dhcpd.conf.d/frc-config.conf"
    
    # --- VLAN Configuration Variables ---
    parent_interface: "eno1"         # Parent physical device name
    ip_last_octet: "4"               # The last octet of the static IP/router IP for all VLANs
    # Define the VLAN IDs and corresponding names
    vlan_configs:
      - { id: 10, name: "BLUE1" }
      - { id: 20, name: "BLUE2" }
      - { id: 30, name: "BLUE3" }
      - { id: 40, name: "RED1" }
      - { id: 50, name: "RED2" }
      - { id: 60, name: "RED3" }
    # ------------------------------------
    # Placeholder variable that will hold the calculated subnets
    subnets_input: [] 

  tasks:
    - name: Ensure dhcpd config directory exists
      ansible.builtin.file:
        path: "{{ target_directory }}"
        state: directory
        owner: root
        group: dhcpd
        mode: '0755'

    - name: Validate that 'team_numbers' is provided and correct length
      ansible.builtin.assert:
        that:
          - team_numbers is defined
          - team_numbers | length == 6
        fail_msg: "team_numbers must be defined as a list of exactly 6 numbers. Use the JSON command line format shown in the playbook comments."

    - name: Dynamically generate the list of CIDR subnets details from team numbers
      ansible.builtin.set_fact:
        subnets_details: "{{ team_numbers | map('generate_subnet_details_filter') | list }}"

    - name: Generate the dhcpd-frc.conf file from template
      ansible.builtin.template:
        src: templates/dhcpd-frc.conf.j2
        dest: "{{ target_file_path }}"
        owner: root
        group: dhcpd
        mode: '0640'
      notify:
        - Restart dhcpd service

    - name: Check if SELinux is enabled
      ansible.builtin.command: getenforce
      changed_when: false
      failed_when: false
      register: getenforce_result

    - name: Apply standard SELinux file context (if SELinux is enforcing)
      ansible.builtin.command: >
        restorecon -v "{{ target_directory }}"
      when: getenforce_result.stdout == 'Enforcing'
      notify:
        - Restart dhcpd service

    - name: Ensure the custom config file is included in /etc/dhcp/dhcpd.conf
      ansible.builtin.lineinfile:
        path: /etc/dhcp/dhcpd.conf
        line: 'include "{{ target_file_path }}";'
        state: present
        regexp: '^#?\s*include\s*["'']{{ target_file_path }}["''];?$'
      notify:
        - Restart dhcpd service

    - name: Ensure VLAN interfaces are configured with static IPs and custom names
      community.general.nmcli:
        conn_name: "{{ item.0.name }}"
        ifname: "{{ item.0.name }}"
        type: vlan
        vlandev: "{{ parent_interface }}"
        vlanid: "{{ item.0.id }}"
        state: present
        ip4: "{{ item.1.base_ip_prefix }}.{{ ip_last_octet }}/{{ item.1.cidr_prefix }}"
        method4: manual
        autoconnect: yes
      loop: "{{ vlan_configs | zip(subnets_details) | list }}"
      register: nmcli_status

    - name: Activate VLAN interfaces if configured or modified
      community.general.nmcli:
        conn_name: "{{ item.0.name }}"
        state: up
      loop: "{{ vlan_configs | zip(subnets_details) | list }}"
      when: nmcli_status.changed

  handlers:
    - name: Restart dhcpd service
      ansible.builtin.service:
        name: dhcpd
        state: restarted
