# Ansible Playbook: Configure custom DHCP file and network interfaces (6 VLANs)

# Example Usage: To run this playbook reliably across different shells/sudo usage, use JSON format,
# providing a list of team numbers:
# ansible-playbook -e '{"team_numbers": [101, 55, 1234, 12345, 999, 10] }' config_dhcp.yaml
#
- name: Configure custom DHCP file and network interfaces (6 VLANs)
  hosts: localhost
  connection: local
  become: true
  vars:
    target_file_path: "/home/cheesy/freesy-arena/dhcpd-frc.conf"
    target_directory: "/home/cheesy/freesy-arena"
    
    # --- VLAN Configuration Variables ---
    parent_interface: "eno1"         # Parent physical device name
    ip_last_octet: "4"               # The last octet of the static IP/router IP for all VLANs
    # Define the VLAN IDs and corresponding names
    vlan_configs:
      - { id: 10, name: "BLUE1" }
      - { id: 20, name: "BLUE2" }
      - { id: 30, name: "BLUE3" }
      - { id: 40, name: "RED1" }
      - { id: 50, name: "RED2" }
      - { id: 60, name: "RED3" }
    # ------------------------------------
    # Placeholder variable that will hold the calculated subnets
    subnets_input: [] 

  tasks:
    - name: Ensure the target directory exists
      ansible.builtin.file:
        path: "{{ target_directory }}"
        state: directory
        owner: cheesy
        group: cheesy
        mode: '0755'

    - name: Validate that 'team_numbers' is provided and correct length
      ansible.builtin.assert:
        that:
          - team_numbers is defined
          - team_numbers | length == 6
        fail_msg: "team_numbers must be defined as a list of exactly 6 numbers. Use the JSON command line format shown in the playbook comments."

    - name: Dynamically generate the list of CIDR subnets details from team numbers
      ansible.builtin.set_fact:
        # We use the custom Python filter 'generate_subnet_details_filter' here
        subnets_details: "{{ team_numbers | map('generate_subnet_details_filter') | list }}"

    # --- Add these debug steps ---
    - name: Debug - Show the generated subnets details
      ansible.builtin.debug:
        var: subnets_details
    
    - name: Debug - Inspect intermediate IP address output and type
      ansible.builtin.debug:
        msg: >-
          Input 'item': {{ item.subnet_cidr }} | 
          IPAddr Output: {{ item.subnet_cidr | ansible.utils.ipaddr('network/prefix') | ansible.utils.ipaddr('address') }} |
          Jinja Type: {{ (item.subnet_cidr | ansible.utils.ipaddr('network/prefix') | ansible.utils.ipaddr('address')).__class__.__name__ }}
      loop: "{{ subnets_details }}"
    # --- End Debug steps ---

    - name: Generate the dhcpd-frc.conf file from template
      ansible.builtin.template:
        src: templates/dhcpd-frc.conf.j2
        dest: "{{ target_file_path }}"
        owner: cheesy
        group: cheesy
        mode: '0644'
      notify:
        - Confirm file generation
        - Restart dhcpd service

    - name: Ensure the custom config file is included in /etc/dhcp/dhcpd.conf
      ansible.builtin.lineinfile:
        path: /etc/dhcp/dhcpd.conf
        line: 'include "{{ target_file_path }}";'
        state: present
        regexp: '^#?\s*include\s*["'']{{ target_file_path }}["''];?$'
      notify:
        - Restart dhcpd service

    - name: Ensure VLAN interfaces are configured with static IPs and custom names
      community.general.nmcli:
        conn_name: "{{ item.0.name }}"
        ifname: "{{ item.0.name }}"
        type: vlan
        vlandev: "{{ parent_interface }}"
        vlanid: "{{ item.0.id }}"
        state: present
        # Use the pre-calculated base_ip_prefix and append the static last octet
        ip4: "{{ item.1.base_ip_prefix }}.{{ ip_last_octet }}/{{ item.1.cidr_prefix }}"
        method4: manual
        autoconnect: yes
      loop: "{{ vlan_configs | zip(subnets_details) | list }}"

    - name: Ensure the old Admin VLAN connection is absent
      community.general.nmcli:
        conn_name: "Admin"
        state: absent

  handlers:
    - name: Confirm file generation
      ansible.builtin.debug:
        msg: "The custom DHCP configuration file at {{ target_file_path }} has been successfully generated/updated."

    - name: Restart dhcpd service
      ansible.builtin.service:
        name: dhcpd
        state: restarted
